# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variable files
*.tfvars
*.tfvars.json

# Sensitive files
*.pem
*.key

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db